@import "../media.css";
@import "../variables.css";

.header {
    
    &__bottom {
        border-bottom: 1px solid #F4F4F4;

        .container {
            display: flex;
            align-items: center;
            height: 60px;
        }
    }

    .catalog {
        margin-right: 60px;
    }

    &__link {
        font-size: 18px;
        font-weight: 600;
        padding-right: 50px;
    }

    .sign-in-btn {
        margin-left: auto;
        color: var(--c-green);
        line-height: 25px;
        font-weight: 500;

        .i-icon {
            height: 25px;
            margin-top: -2px;
            margin-right: 8px;
        }
    }
}