.main-nav {
    border-bottom: 1px solid #F4F4F4;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        height: 85px;
    }

    &__logo-img {
        width: 110px;
        height: auto;
    }

    &__list {
        display: flex;
        align-items: center;
    }

    &__link {
        white-space: nowrap;
        padding: 0 15px;
        font-size: 15px;
    }

    &__phone {
        font-size: 18px;
        font-weight: 700;
    }
}