<nav class="footer-menu">
    <div class="container">
        <div class="footer-menu__left">
            <a href="#" class="footer-menu__logo">
                <img src="../images/content/logo.png" alt="ВолгоРост" class="footer-menu__logo-img">
            </a>
            <a href="tel:+78442602040" class="footer-menu__phone">+7 (8442) 60-20-40</a>
            <a href="mailto:info@volgorost.ru" class="footer-menu__email link">info@volgorost.ru</a>
            <small class="footer-menu__copyright"> 
                ООО «ТК «ВолгоРост» - Волгоград: хозтовары, 
                товары для дома, посуда, подарки, сувениры.
            </small>
            <span class="footer-menu__creator">
                Сделано в 
                <a href="#" class="footer-menu__creator-link">
                    <svg class="i-icon">
                        <use xlink:href="#icon-stratosfera"></use>
                    </svg>
                </a>
            </span>
        </div>
        <div class="footer-menu__nav">
            <span class="footer-menu__nav-title">
                Каталог товаров
            </span>
            <ul class="footer-menu__list">
                <li class="footer-menu__item">
                    <a href="#" class="footer-menu__link">Распродажа</a>
                </li>
                <li class="footer-menu__item">
                    <a href="#" class="footer-menu__link">Все товары</a>
                </li>
                <li class="footer-menu__item">
                    <a href="#" class="footer-menu__link">Комнаты</a>
                </li>
                <li class="footer-menu__item">
                    <a href="#" class="footer-menu__link">Тематики</a>
                </li>
            </ul>
        </div>
        <div class="footer-menu__nav">
            <span class="footer-menu__nav-title">
                Покупателям
            </span>
            <ul class="footer-menu__list">
                <li class="footer-menu__item">
                    <a href="#" class="footer-menu__link">Оплата</a>
                </li>
                <li class="footer-menu__item">
                    <a href="#" class="footer-menu__link">Доставка</a>
                </li>
            </ul>
        </div>
        <div class="footer-menu__nav">
            <span class="footer-menu__nav-title">
                О компании
            </span>
            <ul class="footer-menu__list">
                <li class="footer-menu__item">
                    <a href="#" class="footer-menu__link">Магазины</a>
                </li>
                <li class="footer-menu__item">
                    <a href="#" class="footer-menu__link">Новости</a>
                </li>
                <li class="footer-menu__item">
                    <a href="#" class="footer-menu__link">Акции</a>
                </li>
                <li class="footer-menu__item">
                    <a href="#" class="footer-menu__link">Статьи</a>
                </li>
            </ul>
        </div>
    </div>
</nav>