<section class="product-card">
    <div class="product-card__top">
        <img src="../../images/content/board.png" alt="" class="product-card__img">
        <label class="product-card__favorites">
            <input type="checkbox">
            <div class="product-card__favorites-decor"></div>
        </label>
        <div class="product-card__sale">
            sale <b>-5%</b>
        </div>
    </div>
    <div class="product-card__desc">
        <span class="product-card__code">Арт: 120585</span>
        <span class="product-card__stock">В наличии</span>
        <h4 class="product-card__name">
            Разделочная доска деревянная
        </h4>
        <div class="product-card__price">
            <b class="product-card__price-actual">199 руб.</b>
            <span class="product-card__price-old">250 руб.</span>
        </div>
        <div class="counter">
            <button class="counter__minus">
                <svg class="i-icon">
                    <use xlink:href="#icon-minus"></use>
                </svg>
            </button>
            <span class="counter__result">1</span>
            <button class="counter__plus">
                <svg class="i-icon">
                    <use xlink:href="#icon-plus"></use>
                </svg>
            </button>
        </div>
        <label class="product-card__basket-btn">
            <input type="checkbox">
            <svg class="i-icon">
                <use xlink:href="#icon-basket"></use>
            </svg>
        </label>
    </div>
</section>