<form class="subscribe">
    <div class="container">
        <div class="subscribe__left">
            <span class="subscribe__title">
                Подписаться на рассылку
            </span>
            <label class="checkbox">
                <input type="checkbox" class="checkbox__input">
                <div class="checkbox__decor"></div>
                <span class="checkbox__text">
                    Даю согласие на обработку <a href="#" class="link">персональных данных</a>
                </span>
            </label>
            <label class="checkbox">
                <input type="checkbox" class="checkbox__input">
                <div class="checkbox__decor"></div>
                <span class="checkbox__text">
                    Даю согласие на рассылку
                </span>
            </label>
        </div>
        <input type="email" class="input" placeholder="Ваш e-mail *" required>
        <button type="submit" class="btn">Отправить</button>
    </div>
</form>